# Ignore environment and secrets
.env
*.env

# Ignore dependencies (reinstalled inside image)
node_modules
npm-debug.log
yarn-error.log

# Ignore Git files
.git
.gitignore

# Ignore Docker files themselves
Dockerfile
.dockerignore

# Ignore OS/editor stuff
.DS_Store
.vscode
